#fondo {
    color: #000;
    background-color: #FC0;
    margin: auto;
    text-align: left;
    width: 780px;
height:500px;

}

#fondo #piepagina {
    color: #F90;
    background-color: #330;
    padding: 10px;
    clear: both;
}

#fondo #encabezado {
    padding: 8px;
    background-color: #F90;
}

#fondo #imagenindex {
    height: 250px;
}

#fondo #contenidoindex #arcaizquierda {
    width: 370px;
    float: left;
    padding: 10px;
}

#fondo #contenidoindex #arcaderecha {
    margin-left: 390px;
    padding: 10px;
}

body {
    margin: 0px;
    background-color: #1000;
    text-align: center;
    font-family: Verdana, Geneva;
    font-size: 11px;
    color: #330;
}

#fondo #contenidoplantilla #zonaderecha {
    margin-left: 180px;
}

h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #060;
}

a:hover {
    color: #F00;
    text-decoration: underline;
}

#fondo #contenidoplantilla #zonaderecha #contenidopagina {
    padding: 15px;
}

#fondo #contenidoplantilla #zonaizquierda {
    float: left;
    width: 180px;
}

#fondo #encabezado a {
    color: #FF0;
}

#fondo #encabezado a:hover {
    color: #FFF;
}

a {
    color: #900;
    text-decoration: none;
}
